# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: vlytvyne <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/11/20 21:30:55 by vlytvyne          #+#    #+#              #
#    Updated: 2018/11/20 21:31:13 by vlytvyne         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.[oa]
main.c
